/* Normalizacion de css */
*{
    box-sizing: border-box;
}

.caja{
    /* Determinamos las dimisiones del contenido de mi caja */
    width: 200px;
    height: 200px;
    background-color: red;
    /* 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px; 
    */
    /* padding: 10px; 10px de padding a todos los lados*/
   /*  padding: 10px 20px; padding vertical 10px, padding horizontal 20px */
    /* padding: 10px 20px 30px; 10px p top, 20px p horizontal, 30px p bottom */
    /* padding: 10px 20px 30px 40px; p-top, p-right, p-bottom, p-left*/
    padding: 20px 40px;
    border: 3px solid black; 
    border-right: none;
    border-left: 3px dotted yellow;
    margin: 10px 20px;
    display: inline-block;
}

.caja-1{
    margin-bottom: 20px;
}

/* body{
    padding: 30px 60px;
} */
.btn{
    padding: 20px;
    margin-top: 50px;
    width: 200px;
    display: block;
}
.link{
    margin-top: 90px;
    padding: 10px;
    background-color: red;
    width: 700px;
    margin-top: 200px;
    display: inline-block;
}
 input{
    width: 600px;
    height: 200px;
    margin-top: 200px;
 }

 .img-card{
    width: 100px;
 }